html
  head
  body
    #games.games.animeX
      h2 Games
      .cardBx
        .card
          img(src='g1.png')
          .content
            h4 SUDOKU
            .info
              a.dashboard(href='#') Dash Board
              a.play(href='#') Play Now
        .card
          img(src='g2.jpg')
          .content
            h4 SNAKE
            .info
              a.dashboard(href='#') Dash Board
              a.play(href='#') Play Now