/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
    position: relative;
    max-width: 530px;
    width: 100%;
    /* background: rgba(255, 255, 255,0.1); */
    background-color: transparent;
    border-radius: 10px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    margin: 0 25px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: -30px;
    margin-bottom: 70px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 450px;
    width: 200%;
    transition: height 0.2s ease;
}

#errPass {
    color:rgb(249, 4, 4);
}
#errEmail {
    color:rgb(249, 4, 4);
}
#errName {
    color:rgb(249, 4, 4);
}
#errAccept {
    color:rgb(249, 4, 4);
}
#errP1 {
    color:rgb(249, 4, 4);
}
#errP2 {
    color:rgb(249, 4, 4);
}
#errE {
    color:rgb(249, 4, 4);
}
.container .form{
    width: 50%;
    padding: 30px;
    /* background-color: rgba(255, 255, 255,0.1); */
    transition: margin-left 0.18s ease;
}
.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 700px;
}
.container .form .title{
    position: relative;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    align-items: center;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background-color: #8221f0;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #8221f0;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background-color: transparent;
    color: #fff;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #8221f0;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(143, 139, 139);
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #8221f0;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #8221f0;
    box-shadow: 0 0 2px #8221f0;
}

.form .text{
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
    
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border-color: #8221f0;
    box-shadow: 0 0 3px #8221f0;
}

.button input:hover{
    background-color:  #8221f0;
    box-shadow: 0 0 5px #8221f0;
    border-color: #8221f0;
    color: #050e2d;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
/* input{
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.1);
    color:white;
} */