@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: flex;
    width: 100%;
    background: #050e2d;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

#name{
    position: flex;
    margin-top: 5%;
    margin-left: 38%;
    color: rgb(239, 217, 239);
    font-size: 40px;
}
#game-board{
    position: flex;
     margin-top: 3%;
    margin-left: 30%; 

    background: rgb(148, 180, 31);
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(21,1fr);
    border-radius: 10px;
    border: 0.25vmin solid black;
}
.snake{
    background: #050e2d;
    border: 0.25vmin solid black;
}
.food{
    background: rgb(16, 5, 54);
    border: 0.25vmin solid black;
}
