*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    width: 100%;
    background: #050e2d;
    height: 100vh;
    /* display:; */
    justify-content: center;
    align-items: center;
}
#name{
    position: fixed;
    margin-top: 5%;
    margin-left: 42%;
    color: rgb(239, 217, 239);
    font-size: 40px;
}
#game-board{
    position: fixed;
    margin-top: 10%;
    margin-left: 30%;

    background: rgb(148, 180, 31);
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(21,1fr);
    border-radius: 10px;
    border: 0.25vmin solid black;
}
.snake{
    background: #050e2d;
    border: 0.25vmin solid black;
}
.food{
    background: rgb(16, 5, 54);
    border: 0.25vmin solid black;
}